<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Payment.master.cs" Inherits="PayPal_Demo.paypal.Payment" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div style="width:100%">Header</div>
        <div style="min-height:600px">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div style="width:100%">Footer</div>
    </form>
</body>
</html>
